<footer id="sticky-footer" class="navbar navbar-fixed-bottom">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Aniket Kaimal",  "https://github.com/captainnairauk", class: "text-success" %></small>
    </div>
</footer>
